grant codeBase "@MAVEN_REPO@-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@-"{
   permission java.security.AllPermission;
};

grant codeBase "@TEST_CLASSES@-"{
   permission java.lang.RuntimePermission "accessRPCService";
};

grant codeBase "@TEST_CLASSES@-"{
   permission java.lang.RuntimePermission "manageContainer";
   permission java.net.SocketPermission "127.0.0.1:2526", "connect, resolve"; 
   permission java.net.SocketPermission "127.0.0.1:2525", "connect, resolve"; 
};

grant codeBase "@MAIN_CLASSES@../../../exo.kernel.commons.test/-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@../../../exo.kernel.commons/-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@../../../exo.kernel.container/-"{
   permission java.security.AllPermission;
};




