// configure static permissions here
grant {                                                                                                          
    permission java.security.AllPermission;                                                                                                    
};
 