grant codeBase "@MAVEN_REPO@-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@-"{
   permission java.security.AllPermission;
};

grant codeBase "@TEST_CLASSES@-"{
   permission java.lang.RuntimePermission "manageContainer";
   permission java.lang.RuntimePermission "manageComponent";
   permission java.lang.RuntimePermission "manageThreadLocal";
};

grant codeBase "@MAIN_CLASSES@../../../exo.kernel.commons.test/-"{
   permission java.security.AllPermission;
};

grant codeBase "@MAIN_CLASSES@../../../exo.kernel.commons/-"{
   permission java.security.AllPermission;
};



